<launch>
<arg name="ns" default="xarm" />

<!-- <include file="$(find xarm_bringup)/launch/xarm6_server.launch">
    <arg name="robot_ip" value="192.168.1.203"/>
</include> -->
<rosparam command="load" file="$(find xarm_control_ptp_repeat)/config/xarm_control_ptp_repeat.yaml" />

<rosparam>
    xarm:
        wait_for_finish: true
</rosparam>

<node
    name="xarm_control_ptp_repeat"
    pkg="xarm_control_ptp_repeat"
    type="xarm_control_ptp_repeat"
    respawn="false"
    output="screen"
    ns="$(arg ns)"
/>
</launch>