<launch>
<arg name="ns" default="xarm" />

<include file="$(find xarm_bringup)/launch/xarm6_server.launch">
    <arg name="robot_ip" value="192.168.1.203"/>
</include>

<node
    name="xarm_control"
    pkg="xarm_control"
    type="xarm_control"
    respawn="false"
    output="screen"
    ns="$(arg ns)"
/>
</launch>